    gitignore
    # Android Studio
    *.iml
    .gradle
    /local.properties
    /.idea/caches
    /.idea/libraries
    /.idea/modules.xml
    /.idea/workspace.xml
    /.idea/navEditor.xml
    /.idea/assetWizardSettings.xml
    .DS_Store
    /build
    /captures
    .cxx/
    *.hprof

    # Custom sensitive files
    /app/src/main/java/mentat/music/com/publicarbluesky/constans/Constants.kt